* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

/* Colors */

.green {
    color: hsl(160deg, 100%, 30%);
}

.yellow-1 {
    background-color: hsl(45deg, 100%, 50%);
}

.yellow-2 {
    color: hsl(45deg, 100%, 40%);
}

/* Add styles here! */

.intro-chunk {
    padding: 80px 144px;
    border-bottom: 8px solid hsl(0deg, 0%, 40%);
    background-color: hsl(0deg, 0%, 100%)
}

.intro-chunk h1 {
    margin-bottom: 40px;
    font-size: 1.75rem;
}

.intro-chunk p {
    margin-top: 0;
    margin-bottom: 16px;
    max-width: 320px;
}

section.max-width-wrapper {
    background-color: hsl(0deg, 0%, 60%);
    padding: 64px 128px;
}

.card {
    background-color: hsl(0deg, 0%, 100%);
    padding: 8px 16px 16px 16px;
    max-width: 640px;
    border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.card h2 {
    border-bottom: 8px solid hsl(45deg, 100%, 40%);
    padding: 16px 24px;
    max-width: fit-content;
    font-size: 1.25rem;
    margin: 0 0 0 -24px;
}
